@import "variables";

.right-side-img{
	display: inline-block;
	margin-top: 10rem;
	float: left;
}

.form{
	display: inline-block;
	max-width: 21.5rem;
	margin-top: 10rem;
	vertical-align: baseline;
	border-radius: 4px;
	float: left;
	margin-left: 22vw;
	margin-right: 10vw;
	position: relative;


	&__title{
		color: $color-red-medium;
		font-weight: 700;
		font-size: 1.7rem;
	}

	&__subtitle{
		font-size: 1rem;
		font-weight: 700;
	}

	&__text{
		font-size: 0.85rem;

		&--grey{
			color: $color-grey-light;
			position: absolute;
			right: 0;
			padding-right: 3.5rem;
		}
	}

	&__field{
		padding-bottom: 1rem;
	}

	&__input{
		width: 100%;
		padding-left: .5rem;
		height: 2.4rem;
		border-radius: 3px;
		border: 1px solid $color-grey-dark;
	}

	&__link{
		position: absolute;
		right: 0;
		color: $color-link-blue;
		display: inline-block;
	}
}

.oath-login{
	width: 100%;
	display: block;
	height: 2.7rem;
	box-shadow: 0 .2rem 1.5rem rgba(0, 0, 0, .15);
	border: 1px solid rgba(0, 0, 0, .15);
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 700;
	text-decoration: none;
	border-radius: 3px;

	&__fb{
		background-color: #3b5998;
		color: $color-white;
		padding: .4rem 0;

		&:hover{
			text-decoration: none;
			color: $color-white;
			background-color: darken(#3b5998,5%);
		}
		&:focus{
			background-color: #8b9dc3;
		}
	}
	&__gg{
		background-color: $color-white;
		color: $color-grey-dark;
		padding: .4rem 0;

		&:hover{
			text-decoration: none;
			color: $color-grey-dark;
			background-color: darken($color-white,5%);
		}
		&:focus{
			background-color: darken($color-white,2%);
		}
	}


}

.fab{
	padding-right: 1rem;
}
.seperate-line{
    overflow: hidden;
    text-align: center;
    color: $color-grey-dark;

	&::before,
	&::after {
	    background-color: $color-grey-lighter;
	    content: "";
	    display: inline-block;
	    height: 1px;
	    position: relative;
	    vertical-align: middle;
	    width: 50%;
	}
	&::before {
	    right: 0.5em;
	    margin-left: -50%;
	}
	&::after {
	    left: 0.5em;
	    margin-right: -50%;
	}
}

.login-btn{
	width: 100%;
	height: 3.5rem;
	font-size: 1.2rem;
	border-radius: 3px;
	border: 1px solid $color-red-darker;
}

.remember-me{
	display: inline-block;
	float: left;
}



