/*Universal selector will seelct each and every element on the page and then apply these declarations here to it*/

*,
*::after,
*::before {
    /* margin: are used to create space around elements, outside of any defined borders.*/
    margin: 0;
    /* padding: are used to generate space around an element's content, inside of any defined borders.*/
    padding: 0;
    box-sizing: inherit;
}

body {
    /* box-sizing: border-box: change the box model so that the borders and the paddings are no longer added to the total width or the total height that we specify for a box*/
    box-sizing: border-box;
}

html {
    // this define what 1rem is
    font-size: 100%;
}

.header {
    /*    Relative to 95% of the height of the viewport**/
    height: 80vh;
    /*    CSS gradients let you display smooth transitions between two or more specified colors.*/
    background-image: url('bg.jpg');
    /*    cover: whatever the width of the viewport, or the element, it wil always try to fit the element inside of the box.*/
    background-size: cover;
    /*    whatever the viewport size is, this top of the image here always stays at the top of the container.*/
    background-position: bottom;
    position: relative;

    &__logo-box {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        /*translate: shift 50% of width to the left ,shift 50% of the height to the top*/
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

.navbar {
    top:2rem;
    margin: 0 auto;
    width: 75vw;
    font-weight: 700;
    color: #fff;

    &__nav-item{
        display: inline-block;
    }

    &__nav-link{
        text-decoration: none;
        position: relative;
        color: inherit;
        padding: 0 1.5rem;
        &:hover{
            text-decoration: none;
            color: #fff;

            &::after {
              content:""; 
              display: block;
              width: 80%;
              padding-top: .1rem;
              left: 10%;
              position: absolute;
              border-bottom: 2px solid #fff; 
            }
        }
    }

    &__nav-btn{
        padding: 0 1.5rem;
        color: inherit;
        background: transparent;
        padding: .3rem 1.2rem;
        border: 2px solid #fff;
        border-radius: 5px;
        font-weight: inherit;

        &:hover{
            background: #fff;
            color: #666;
        }

        &:active{
            background: #fff;
            color: #999;
        }

        &:focus{
            outline: none;
        }

    }

    &__right-side{
        position: absolute;
        top: 0;
        right: 1.5rem;
    }

}

.search{
    position: absolute;
    left: 50%;
    top:45%;
    transform: translate(-50%, -50%);
    width: 50vw;

    &__input{
        display: inline-block;
        width: 84%;
        height: 2.8rem;
        border-radius: 4px 0 0 4px;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .15);
        border: none;

        &:focus{
            outline: none;
            border: none;
        }
    }

    &__btn{
        display: inline-block;
        border-radius: 0 4px 4px 0;
        background: #d32323;
        border: none;
        padding: .7rem 1.5rem;
        width: 15%;
        color: #fff;
        font-weight: 700;

        &:focus,
        &:hover,
        &:visited{
            outline: none;
            border: none;
            background: #be2020;
        }

        &:active{
            background: #a91c1c;
        }
    }
}










