$color-red-light:#ed0008;
$color-red-medium:#d32323;
$color-red-dark:#c50006;
$color-red-darker:#8d0005;
$color-red-btn-hover:#be2020;
$color-red-btn-active:#a91c1c;

$color-white:#fff;
$color-grey-lighter:#ccc;
$color-grey-light:#999;
$color-grey-dark:#666;

$color-link-blue:#0073bb;

